# Grouping and sorting

In [79]:
import pandas as pd
pd.set_option("display.max_rows", 5)

reviews = pd.read_csv("datasets/winemag-data-130k-v2.csv", index_col=0)

reviews

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit

In [80]:
# we used to do reviews.points.value_counts()
# it's like doing this : 
reviews.groupby('points').designation.count()

points
80     250
81     406
      ...
99      29
100     13
Name: designation, Length: 21, dtype: int64

You can think of each group we generate as being a slice of our DataFrame containing only data with values that match. This DataFrame is accessible to us directly using the apply() method, and we can then manipulate the data in any way we see fit. For example, here's one way of selecting the name of the first wine reviewed from each winery in the dataset:

meaning that for each element in the groupby what do you want to append to it? it could be an entire row, or an entire dataframe, or just a value, you can do whatever you want in the datafram

In [81]:
x = reviews.groupby('winery').apply(lambda df: df.title.iloc[0])
# x here is a series, 
x

winery
1+1=3                          1+1=3 NV Rosé Sparkling (Cava)
10 Knots                 10 Knots 2010 Viognier (Paso Robles)
                                  ...
àMaurice    àMaurice 2013 Fred Estate Syrah (Walla Walla V...
Štoka                         Štoka 2009 Izbrani Teran (Kras)
Length: 16757, dtype: object

In [82]:
x = reviews.groupby('winery').apply(lambda df: df.iloc[0:2])

# x.iloc[0]
# x is a data frame
print('Type of x : ', type(x))
x

Type of x :  <class 'pandas.core.frame.DataFrame'>

               country                                        description  \
winery
1+1=3  20319     Spain  A dusty, yeasty nose is simplistic but friendl...
       33657     Spain  Clean, fresh apple aromas and a minerally, cit...
...                ...                                                ...
Štoka  10290  Slovenia  Vanilla and cookie crumb notes add a sweet, to...
       70504  Slovenia  This orange-style wine is dark straw in color ...

                                                    designation  points  \
winery
1+1=3  20319                                               Rosé      86
       33657  Cygnus Brut Nature Reserva Made With Organic G...      89
...                                                         ...     ...
Štoka  10290                                            Izbrani      88
       70504                                            Grganja      90

              price   province region_1 region_2         taster_name  \
winery
1+1=3  20319   20.0  Catalonia     Cava      NaN   Michael Schachner
       33657   20.0  Catalonia     Cava      NaN   Michael Schachner
...             ...        ...      ...      ...                 ...
Štoka  10290   20.0       Kras      NaN      NaN  Anna Lee C. Iijima
       70504   23.0       Kras      NaN      NaN        Jeff Jenssen

             taster_twitter_handle  \
winery
1+1=3  20319           @wineschach
       33657           @wineschach
...                            ...
Štoka  10290                   NaN
       70504        @worldwineguys

                                                          title  \
winery
1+1=3  20319                     1+1=3 NV Rosé Sparkling (Cava)
       33657  1+1=3 NV Cygnus Brut Nature Reserva Made With ...
...                                                         ...
Štoka  10290                    Štoka 2009 Izbrani Teran (Kras)
       70504                 Štoka 2011 Grganja Vitovska (Kras)

                      variety winery
winery
1+1=3  20319  Sparkling Blend  1+1=3
       33657  Sparkling Blend  1+1=3
...                       ...    ...
Štoka  10290            Teran  Štoka
       70504         Vitovska  Štoka

[29274 rows x 13 columns]

In [83]:
reviews.groupby(['country', 'province']).apply(lambda df: df.loc[df.points.idxmax()])

                              country  \
country   province
Argentina Mendoza Province  Argentina
          Other             Argentina
...                               ...
Uruguay   San Jose            Uruguay
          Uruguay             Uruguay

                                                                  description  \
country   province
Argentina Mendoza Province  If the color doesn't tell the full story, the ...
          Other             Take note, this could be the best wine Colomé ...
...                                                                       ...
Uruguay   San Jose          Baked, sweet, heavy aromas turn earthy with ti...
          Uruguay           Cherry and berry aromas are ripe, healthy and ...

                                          designation  points  price  \
country   province
Argentina Mendoza Province           Nicasia Vineyard      97  120.0
          Other                               Reserva      95   90.0
...                                               ...     ...    ...
Uruguay   San Jose           El Preciado Gran Reserva      87   50.0
          Uruguay           Blend 002 Limited Edition      91   22.0

                                    province region_1 region_2  \
country   province
Argentina Mendoza Province  Mendoza Province  Mendoza      NaN
          Other                        Other    Salta      NaN
...                                      ...      ...      ...
Uruguay   San Jose                  San Jose      NaN      NaN
          Uruguay                    Uruguay      NaN      NaN

                                  taster_name taster_twitter_handle  \
country   province
Argentina Mendoza Province  Michael Schachner           @wineschach
          Other             Michael Schachner           @wineschach
...                                       ...                   ...
Uruguay   San Jose          Michael Schachner           @wineschach
          Uruguay           Michael Schachner           @wineschach

                                                                        title  \
country   province
Argentina Mendoza Province  Bodega Catena Zapata 2006 Nicasia Vineyard Mal...
          Other                            Colomé 2010 Reserva Malbec (Salta)
...                                                                       ...
Uruguay   San Jose          Castillo Viejo 2005 El Preciado Gran Reserva R...
          Uruguay           Narbona NV Blend 002 Limited Edition Tannat-Ca...

                                          variety                winery
country   province
Argentina Mendoza Province                 Malbec  Bodega Catena Zapata
          Other                            Malbec                Colomé
...                                           ...                   ...
Uruguay   San Jose                      Red Blend        Castillo Viejo
          Uruguay           Tannat-Cabernet Franc               Narbona

[425 rows x 13 columns]

### agg() with multipple agg functions

In [84]:
reviews.groupby(['country']).price.agg([len, min, max])

            len   min    max
country
Argentina  3800   4.0  230.0
Armenia       2  14.0   15.0
...         ...   ...    ...
Ukraine      14   6.0   13.0
Uruguay     109  10.0  130.0

[43 rows x 3 columns]

### Multi-indexes

In [85]:
countries_reviewed = reviews.groupby(['country', 'province']).description.agg([len])
countries_reviewed

                             len
country   province
Argentina Mendoza Province  3264
          Other              536
...                          ...
Uruguay   San Jose             3
          Uruguay             24

[425 rows x 1 columns]

In [95]:
mi = countries_reviewed.index

RangeIndex(start=0, stop=425, step=1)

### reseting the index

In [87]:
countries_reviewed.reset_index()

       country          province   len
0    Argentina  Mendoza Province  3264
1    Argentina             Other   536
..         ...               ...   ...
423    Uruguay          San Jose     3
424    Uruguay           Uruguay    24

[425 rows x 3 columns]

# Sorting

In [88]:
countries_reviewed = countries_reviewed.reset_index()
countries_reviewed.sort_values(by='len')

    country               province    len
179  Greece  Muscat of Kefallonian      1
192  Greece          Sterea Ellada      1
..      ...                    ...    ...
415      US             Washington   8639
392      US             California  36247

[425 rows x 3 columns]

In [89]:
countries_reviewed.sort_values(by='len', ascending=False)

    country    province    len
392      US  California  36247
415      US  Washington   8639
..      ...         ...    ...
63    Chile     Coelemu      1
149  Greece      Beotia      1

[425 rows x 3 columns]

# Sorting by more than one column

In [90]:

x= countries_reviewed.sort_values(by=['country', 'len'], ascending=True).country
x

1      Argentina
0      Argentina
         ...
424      Uruguay
419      Uruguay
Name: country, Length: 425, dtype: object

In [94]:
country_variety_counts = reviews.groupby(['country', 'variety']).description.count().sort_values(ascending=False)

country_variety_counts

country  variety
US       Pinot Noir            9885
         Cabernet Sauvignon    7315
                               ...
Mexico   Rosado                   1
Uruguay  White Blend              1
Name: description, Length: 1612, dtype: int64