# Pandas Tutorial 
[**link to the video**](https://www.youtube.com/watch?v=vmEHCJofslg)

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('pokemon_data.csv')
# print("--------------------------------------------- FIRST THREE ROWS--------------------------------------------------------------")

# print(df.head(3))
# print("\n--------------------------------------------- LAST THREE ROWS--------------------------------------------------------------")
# print(df.tail(3))

print("\n Columns: \n",df.columns)
print("\n Names: \n", df[['Name', 'Type 1', 'HP']][3:10])

In [ ]:

df.iloc[1]
## Read each row
# for index , row in df.iterrows(): 
#     print("index: ", index, " Name: ", row['Name'])

# print(df.loc[df['Type 1'] == "Fire"])

# df.describe()
# df.sort_values(['Type 1', 'HP'], ascending=False)
df.sort_values(['Type 1', 'HP'], ascending = [1,0]) 
df

In [92]:
# Making changes to the data
# df['Total'] = df['HP']  + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']  
df.head(5)
df.drop(columns=['Name'])
df.drop(columns=['Total'])
df.drop(columns=['Legendary'])
df.drop(columns=['Speed'])

df['Total'] = df.iloc[:, 4:10].sum(axis=1)
df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309